@inherits LayoutComponentBase
@using YummyFoods.Utility
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <AuthorizeView Roles="@StaticDetails.RoleAdmin">
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    <main>
        @if(NavBarVisible)
        {
            <NavBar></NavBar>
        }
            @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code{
    private bool NavBarVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NavBarVisible = await ShowNavBar();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            NavBarVisible = await ShowNavBar();
        }
    }

    private async Task<bool> ShowNavBar()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var authenticated = user.Identity is not null && user.Identity.IsAuthenticated;
        if (!authenticated)
        {
            return true;
        }
        if (!user.IsInRole(StaticDetails.RoleAdmin))
        {
            return true;
        }
        return false;
    }
}